In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv("./data/apple_store.csv")
datos.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

In [10]:
from sqlalchemy import create_engine

# sgdb[+plugin_aka_driver]://usuario:contraseña@servidor:puerto/base_de_datos
conn_string = "mysql+pymysql://root:password@localhost:3306/Apps"
motor_conexion = create_engine(conn_string)

In [11]:
# Creamos una tabla a partir de un DataFrame

# Index se refiere al índice del dataframe (false, no lo inserta)
datos.to_sql(name="Ratings", con=motor_conexion, if_exists="append", index=False)

In [12]:
# Lanzamos directamente un SELECT
datos = pd.read_sql("SELECT * FROM Ratings", motor_conexion)
datos.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

In [14]:
# Ídemo con una query un poco más chunga
datos = pd.read_sql("""
select track_name,
    price,
    rating_count_tot,
    user_rating
    from Ratings
    where price = 0 and user_rating > 4;
""", motor_conexion)
datos.head()

                            track_name  price  rating_count_tot  user_rating
0                                Bible    0.0            985920          4.5
1                     Sonos Controller    0.0             48905          4.5
2  OpenTable - Restaurant Reservations    0.0            113936          4.5
3                        Chase Mobile℠    0.0            233270          4.5
4               The Masters Tournament    0.0            148160          4.5

In [17]:
# ídem con otra query
datos = pd.read_sql("""
select prime_genre,
    sum(rating_count_tot) as total_rating,
    avg(user_rating) as avg_rating
from Ratings
where price = 0
group by prime_genre
order by total_rating desc
limit 10;
""", motor_conexion)
datos.head()

         prime_genre  total_rating  avg_rating
0              Games    42713023.0    3.528578
1  Social Networking     7590182.0    2.996503
2      Photo & Video     4550732.0    3.793413
3              Music     3784296.0    3.940299
4      Entertainment     3614869.0    3.148204

In [24]:
# Nos conectamos a otra bbdd
str_conn = "mysql+pymysql://usuario:password@localhost:3306/publications"
motor = create_engine(str_conn)

In [ ]:
query = """
select group_concat(t.title) as titles,
t.year,
from (select title, year(max(pubdate)) as year,
count(titleauthor.title_id) as num_titles,
group_concat(concat(authors.au_fname, ' ', authors.au_lname)) as authors
from titles t
left join titleauthor
on titles.title_id = titleauthor.title_id
left join authors
on authors.au_id = title_author.au_id
group by titles.title
order by num_titles desc) tabla_aux_1
group by tabla_aux_1.year;
"""

df = pd.read_sql_query(query, motor)
df.head()

In [40]:
# Es mucho más rápido hacer la operación con SQL en vez de con Pandas
%time pd.read_sql_query("select * from publications.employee", motor)["job_id"].sum()

CPU times: user 5.77 ms, sys: 0 ns, total: 5.77 ms
Wall time: 15.3 ms

365

In [39]:
%time pd.read_sql_query("select sum(job_id) as j from publications.employee;", motor)["j"][0]

CPU times: user 3 ms, sys: 0 ns, total: 3 ms
Wall time: 7.14 ms

365.0

# Ahora con PostgreSQL

In [43]:
from sqlalchemy import create_engine, Column, Float, Integer, JSON, DateTime, Text
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import DDL

In [ ]:
str_conn = "postgresql+psycopg2://usuario:password@localhost:5432/prueba"

In [ ]:
# Creamos una clase Connector
class Conector:
    def __init__(self, str_conn):
        print("Conectando...")
        
        self.motor = create_engine(str_conn)
        self.sesion = sessionmaker(bind = self.motor)()

In [ ]:
# Creamos una clase Tabla heredera de declarative_base
Base = declarative_base()

class Tabla(Base):
    # nomenclatura para argumentos 
    __tablename__ = 'articles'
    __table_args__ = {"schema":"prueba"}
    
    # Nota: no hay método constructor, ya que está en la clase padre
    
    # Columnas de la tabla
    _id = Column(Integer(), primary_key = True)
    prime_genre = Column(Text())
    total_rating = Column(Float())
    avg_rating = Column(Float())

In [ ]:
# Otra clase donde juntamos todo
class Prueba:
    def __init__(self, str_conn):
        conn = Conector(str_conn)
        self.motor = conn.motor
        self.sesion = conn.sesion
        
        # Creamos la base de datos si no existe
        self.motor.execute(DDL("create schema if not exists prueba"))
        
    def crea_tablas(self):
        if not self.motor.dialect.has_table(self.motor, Tabla.__tablename__, schema="Prueba"):
            print("Creando tabla...")
            Tabla.__table__.create(self.motor)
        else:
            print("Tabla ya existe.")
    
    def rellena_tablas(self, datos):
        for e in datos.itertuples():
            item = Tabla(_id = e[0],
                        prime_genre = e[1],
                        total_rating = e[2],
                        avg_rating = e[3])
            self.sesion.add(item)
        
        self.sesion.commit()
            
    def borra_tabla(self):
        if self.motor.dialect.has_table(self.motor, Tabla.__tablename__, schema = "prueba"):
            print("Borrando tabla...")
            Tabla.__table__.drop(self.motor)
            
    def show_df(self):
        data = self.motor.execute(DDL("select * from prueba.articles")).fetchall()
        columns = self. motor.execute(DDL("select * from prueba.information_schema.columns where table_name = 'articles'")).fetchall()
        
        return pd.DataFrame(data, columns = [e[3] for e in columns])

In [ ]:
# Aquí usamos las clases:
prueba = Prueba(str_conn)

help(prueba)

In [ ]:
prueba.borra_tabla()

In [ ]:
prueba.crea_tablas()

In [ ]:
prueba.rellena_tablas(datos)

In [ ]:
prueba.show_df()

Ejercicio:
    pillar un dataframe
    dividir el dataframe en entidades
    construir una bd sql
    construirla
    volvera c rear el mismo dataframe a través de una query

Más cosas:
    intenta hacer cosillas con la API y datasets de IMDB:
        https://datasets.imdbws.com/